* {
    box-sizing: border-box;
}

body{
    background-color: #520052;
    color: white;
}

h1{
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 40px;
}
p{
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    margin-bottom: 0;
}
#change-pad:hover{
    cursor: pointer;
}

.button-group{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#change-pad{
    color: white;
    background-color: royalblue;
    height: 32px;
    width: 115px;
    border: none;
    border-radius: 10px;
    
}

.sketch-pad{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: auto;
    display: grid;
}
